<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <p>
          <mat-form-field>
            <input type="email" matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="loginForm.controls['email'].invalid">
              Please enter a valid Email
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="loginForm.controls['password'].invalid">
              Please enter a password
            </mat-error>
          </mat-form-field>
        </p>
        <p *ngIf="error" class="error">
          {{ error }}
        </p>
        <div>
          <button style="float: right;" mat-raised-button color="primary" (click)="onLogin()">
            Login
          </button>
          <button style="float: right;" mat-raised-button class="mat-margin-4" color="primary" (click)="goRegisterPage()">
            Register
          </button>
        </div>
      </form>
    </mat-card-content>
</mat-card>
  